
*.dll
*.vsidx
*.v2
.vs/LogHub2/v17/.suo
*.json
*.testlog
*.config
*.bin
*.manifest
*.sln
*.user
*.csproj
*.pdb
*.exe
*.targets
*.props
*.cache
*.ico
*.md
*.map
LogHub2/wwwroot/lib/jquery/LICENSE.txt
*.txt
*.js
LogHub2/wwwroot/lib/bootstrap/LICENSE
