@model LogHub2.Models.UserViewModel


<h1> Login </h1>
<form method="post" class="form" asp-controller="Users" asp-action="Login">
    <div class="form-group">
        <label> Username </label>
        <input type="text" class="form-control" id="username" placeholder="Username" asp-for="Username">
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label> Password </label>
        <input type="password" class="form-control" id="password" placeholder="Password" asp-for="Password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary">Login</button>
        <a href="@Url.Action("Register", "Users")" class="btn btn-secondary">Register</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
