@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<LogHub2.Models.Entities.Parent>

@if (true)
{
    <h1>Parents</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var parent in Model)
            {
                <tr>
                    <td>@parent.Id</td>
                    <td>@parent.Name</td>
                    <td>@parent.Type</td>

                    <td>
                        <form method="post" asp-controller="Parent" asp-action="Delete" asp-route-id="@parent.Id">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
